entsoe-py
python-dotenv
openmeteo-requests
requests-cache
retry-requests
pandas
numpy
holidays
stable-baselines3[extra]
shimmy
ruff
gymnasium
fastapi[standard]
uvicorn[standard]
streamlit[auth]
altair
requests
psycopg2-binary
pytest
sphinx
sphinx-rtd-theme
